<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="bookDAO" class="org.deean.dao.BookDAO"/>
    <bean id="studentDAO" class="org.deean.dao.StudentDAO"/>
    <bean id="commonManager" class="org.deean.utils.CommonManager"/>
    <bean id="logManager" class="org.deean.utils.LogManager"/>
    <aop:config>
        <aop:pointcut id="method" expression="execution(* org.deean.dao.*.*(..))"/>
        <aop:aspect ref="commonManager">
            <aop:before method="begin" pointcut-ref="method"/>
            <aop:after method="commit" pointcut-ref="method"/>
        </aop:aspect>
        <aop:aspect ref="logManager">
            <aop:around method="printLog" pointcut-ref="method"/>
        </aop:aspect>
    </aop:config>

</beans>