<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="subject1" class="com.deean.bean.Subject">
        <property name="subjectId" value="1001"/>
        <property name="subjectName" value="Java"/>
    </bean>

    <bean id="subject2" class="com.deean.bean.Subject">
        <property name="subjectId" value="1002"/>
        <property name="subjectName" value="C++"/>
    </bean>

    <bean id="student" class="com.deean.bean.Student">
        <property name="stuNum" value="10002"/>
        <property name="stuName" value="李四"/>
        <property name="stuGender" value="女"/>
        <property name="stuAge" value="18"/>
        <property name="stuBirthday">
            <bean class="java.util.Date"/>
        </property>
        <property name="subjects">
            <list>
                <ref bean="subject1"/>
                <ref bean="subject2"/>
            </list>
        </property>
        <property name="classes">
            <set>
                <bean class="com.deean.bean.Clazz">
                    <property name="classId" value="202301"/>
                    <property name="className" value="AAA"/>
                </bean>
            </set>
        </property>
    </bean>

    <bean id="book" class="com.deean.bean.Book">
        <constructor-arg index="0" value="1001"/>
        <constructor-arg index="1" value="C++"/>
        <constructor-arg index="2">
            <list>
                <ref bean="subject1"/>
                <ref bean="subject1"/>
            </list>
        </constructor-arg>
        <constructor-arg index="3">
            <map>
                <entry key="1" value-ref="subject1"/>
                <entry key="2" value-ref="subject2"/>
            </map>
        </constructor-arg>
    </bean>
</beans>