<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deean.dao.StudentDAO">
    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="stuNum">
        insert into students (stu_num, stu_name, stu_password, class_id)
        values (#{stuNum}, #{stuName}, #{stuPassword}, #{classId})
    </insert>
    <resultMap id="studentMap01" type="Student">
        <id column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_password" property="stuPassword"/>
        <result column="stu_address" property="detail.stuAddress"/>
        <result column="stu_tel" property="detail.stuTel"/>
        <result column="stu_desc" property="detail.stuDesc"/>
    </resultMap>

    <select id="queryStudent01" resultMap="studentMap01">
        select s.stu_num, stu_name, stu_password, stu_address, stu_tel, stu_desc
        from students s
                 inner join details d
                            on s.stu_num = d.stu_num
        where s.stu_num = #{stuNum}
    </select>

    <resultMap id="studentMap02" type="Student">
        <id column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_password" property="stuPassword"/>
        <association property="detail" select="com.deean.dao.DetailDAO.queryDetail" column="stu_num"/>
    </resultMap>
    <select id="queryStudent02" resultMap="studentMap02">
        select stu_num, stu_name, stu_password
        from students
        where stu_name = #{stuName}
    </select>

    <resultMap id="studentMap11" type="Student">
        <id column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_password" property="stuPassword"/>
        <result column="class_name" property="clazz.className"/>
        <result column="class_desc" property="clazz.classDesc"/>
    </resultMap>

    <select id="queryStudent11" resultMap="studentMap11">
        select stu_num, stu_name, stu_password, class_name, class_desc
        from students s
                 inner join classes c
                            on s.class_id = c.class_id
        where stu_num = #{stuNum}
    </select>

    <resultMap id="studentMap12" type="Student">
        <id column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_password" property="stuPassword"/>
        <association property="clazz" select="com.deean.dao.ClassDAO.queryClass" column="class_id"/>
    </resultMap>
    <select id="queryStudent12" resultMap="studentMap12">
        select stu_num, stu_name, stu_password, class_id
        from students
        where stu_name = #{stuName}
    </select>

    <resultMap id="studentMap21" type="Student">
        <id column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_password" property="stuPassword"/>
        <result column="class_id" property="classId"/>
    </resultMap>
    <select id="listStudentByClassId" resultMap="studentMap21">
        select stu_num, stu_name, stu_password, class_id
        from students
        where class_id = #{classId}
    </select>


    <select id="listStudentByCId" resultMap="studentMap21">
        select s.stu_num, stu_name, stu_password
        from students s
                 inner join grade.grades g
                            on s.stu_num = g.stu_num
        where g.cid = #{cId}
    </select>
</mapper>