<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deean.dao.StudentDAO">
    <!--设置主键回填,并指定参数-->
    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="sId">
        insert into library.students(sid,
                                     stu_num,
                                     stu_name,
                                     stu_gender,
                                     stu_age,
                                     stu_class,
                                     stu_desc)
            value (#{sId},
                   #{stuNum},
                   #{stuName},
                   #{stuGender},
                   #{stuAge},
                   #{stuClass},
                   #{stuDesc})
    </insert>

    <delete id="deleteStudent">
        delete
        from students
        where stu_num = #{stuNum}
    </delete>

    <update id="updateStudent">
        update students
        set stu_name   = #{stuName},
            stu_gender = #{stuGender},
            stu_age    = #{stuAge},
            stu_class  = #{stuClass},
            stu_desc   = #{stuDesc}
        where stu_num = #{stuNum}
    </update>

    <resultMap id="studentMapper" type="org.deean.pojo.Student">
        <id column="sid" property="sId"/>
        <result column="stu_num" property="stuNum"/>
        <result column="stu_name" property="stuName"/>
        <result column="stu_gender" property="stuGender"/>
        <result column="stu_age" property="stuAge"/>
        <result column="stu_class" property="stuClass"/>
        <result column="stu_desc" property="stuDesc"/>
    </resultMap>
    <select id="listStudent" resultMap="studentMapper">
        select sid,
               stu_num,
               stu_name,
               stu_gender,
               stu_age,
               stu_class,
               stu_desc
        from students
    </select>

    <select id="queryStudent" resultMap="studentMapper">
        select sid,
               stu_num,
               stu_name,
               stu_gender,
               stu_age,
               stu_class,
               stu_desc
        from students
        where stu_num = #{stuNum}
    </select>

    <select id="getCount" resultType="int">
        select count(1)
        from students;
    </select>

    <select id="listStudentByPage" resultMap="studentMapper">
        select sid,
               stu_num,
               stu_name,
               stu_gender,
               stu_age,
               stu_class,
               stu_desc
        from students
        limit #{start}, #{limit}
    </select>
</mapper>