<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deean.dao.BookDAO">
    <resultMap id="bookMap" type="Book">
        <id column="bid" property="bId"/>
        <result column="book_num" property="bookNum"/>
        <result column="book_name" property="bookName"/>
        <result column="book_author" property="bookAuthor"/>
        <result column="book_price" property="bookPrice"/>
        <result column="book_desc" property="bookDesc"/>
        <result column="book_stock" property="bookStock"/>
    </resultMap>

    <select id="queryBook" resultMap="bookMap">
        select bid, book_num, book_name, book_author, book_price, book_desc, book_stock
        from library.books;
    </select>

</mapper>